.container {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 4em;
	text-align: center;
}

h2 {
	font-size: 4em;
	margin: 0;
	text-align: center;
}

.link {
	font-size: 2em;
	text-align: center;
	margin-top: 20px;
}

a {
	color: black;
	text-decoration: none;
}

body {
	background: rgb(216, 146, 170);
}

/*.torsob {
	background: rgb(209, 148, 145);
}

.clothingb {
	background: rgb(133, 30, 47);
}

.armorb {
	background: rgb(140, 124, 153);
}

.neurob {
	background: rgb(241, 177, 116);
}*/

.kpics {
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	justify-content: center;

}

.pics img {
	vertical-align: top;
	margin: 5px;
	border-radius: 50%;
}

.container {
	max-width: 1280px;
	margin: auto;
}